Total number of cards  ${gameStatus.totalNumberOfCards()}<br/>
Cards left in drawpile ${gameStatus.cardsInDrawpile()}
<h2>Last dice throws</h2>
<ul>
#{list items:diceThrowInfo, as:'diceThrow' }
<li>${diceThrow}</li>
#{/list}
</ul>
<h2>Your cards</h2>
    #{list items:gameStatus.playerCards(), as:'playerCard' }
    	${playerCard},
    #{/list}

<h2>Discarded cards</h2>
    #{list items:gameStatus.discardedCards(), as:'discardedCard' }
    	${discardedCard},
    #{/list}

<h2>Out of play cards</h2>
    #{list items:gameStatus.outOfPlayCards(), as:'oopCard' }
    	${oopCard},
    #{/list}
