#{extends 'main.html' /}
#{set title:'showGame.html' /}

<h1>${game.name}</h1>

<h2>Player ${player.name}</h2>

Cards left in drawpile ${gameStatus.cardsInDrawpile()}

<h2>Your cards</h2>
<ul>
    #{list items:gameStatus.playerCards(), as:'playerCard' }
    	<li>${playerCard}</li>
    #{/list}
</ul>

<h2>Actions</h2>
<form action='@{GameController.drawCard()}' method='POST'>
	<input type='hidden' name='gameId' id='gameId' value='${game.id}'/>
	<input type='submit' name='drawCard' value='Draw a card'/>
</form>

<br/><a href='/mainPage'>Home</a>